<form action="/register" method="post" class="dominant">
    <h1>Register</h1>
    <div class="flex">
        <div class="login">
            <label for="loginLabel">First Name</label>
            <input type="name" name="name" class="loginInput" id="floatingInput" placeholder="Enter First name...">
        </div>
        <div class="login">
            <label for="loginLabel">Last Name</label>
            <input type="name" name="name" class="loginInput" id="floatingInput" placeholder="Enter Last name...">
        </div>
    </div>
    <div class="flex">
        <div class="login">
            <label for="loginLabel">Email address</label>
            <input type="email" name="email" class="loginInput" id="floatingInput" placeholder="name@example.com">
        </div>
        <div class="login2">
            <label for="loginLabel">Password</label>
            <input type="password" name="password" class="loginInput" id="floatingPassword" placeholder="Password">
        </div>
    </div>
    <button type="submit" class="login-btn">Register</button>
</form>

<style>
    .dominant .flex {
        display: flex;
        gap: 50px;
    }

    .dominant {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        height: 570px;
        border-radius: 10px;
        margin-top: -30px;
    }

    .dominant h1 {
        font-size: 40px;
    }

    .login-btn {
        padding: 15px 128px;
        font-size: 20px;
        margin-top: 40px;
        cursor: pointer;
        background-color: rgb(45, 167, 45);
        color: white;
        border: none;
        border-radius: 10px;
    }

    .login {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 40px;
    }

    .login label {
        font-size: 40px;
    }

    .login input {
        width: 300px;
        height: 30px;
    }

    .login2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .login2 label {
        font-size: 40px;
    }

    .login2 input {
        width: 300px;
        height: 30px;
    }
</style>